.content-nav{
    height: 60px;
    background: black;
    display: flex;
    color: white;
    justify-content: space-around;
}

.title-nav{
    font-size: 20px;
}

.content-search{
    background:white ;
    width: 220px;
    display: flex;
    height: 30px;
    margin-top: 16px;
    border-radius: 10px;
} 

.content-search input{
    border: transparent;
    font-size: 14px;
}

.content-search input:focus{
    outline: 0;
}

.icon-search{
    font-size: 20px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.content-add-client{
    font-size: 30px;
    padding-top: 15px;
    cursor: pointer;
}

.in-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: white;
}

.in-modal input {
    height: 25px;
    width: 250px;
}

.content-modal{
    margin: auto;
}

.content-buttons{
    display: flex;
}

.btn-modal-agg{
    width: 100px;
    padding: 10px;
    margin-top: 40px;
    margin-right: 30px;
    background: chartreuse;
    border-radius: 6px;
}

.btn-modal-close{
    width: 100px;
    padding: 10px;
    margin-top: 40px;
    margin-right: 30px;
    background: tomato;
    border-radius: 6px;
    border: solid 2px black;
}