.content-all-clients{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.msg-clients{
    font-size: 40px;
    color: white;
    margin-top: 300px;
}