.content-all-home{
    height: 87.2vh;
    overflow-y: scroll;
    background: url('../../img/bg2.jpg');
}

.content-all-home::-webkit-scrollbar{
    background: transparent;
    width: 12px;
}

.content-all-home::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 10px;
    
}


@media screen and (max-width: 750px){
    .content-all-home::-webkit-scrollbar-thumb{
        background: transparent;
        border-radius: 10px;
    }


}