.content-client{
    width: 350px;
    border: 2px solid white;
    color: white;
    font-size: 10px;
    padding: 8px;
    margin: 15px
}

.content-client h1{
    text-transform: uppercase;
}

.cash{
    border-bottom: 2px solid white;
    font-size: 20px;
}

.content-fiads{
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    margin-bottom: 20px;
}

.content-fiads p{
    padding-top: 30px;
}


.fiad.green{
    background: yellowgreen;
    margin-left: 5px;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: -20px;
    padding: 6px;
    text-transform: uppercase;
}

.fiad.red{
    background: tomato;
    margin-left: 5px;
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: -20px;
    padding: 6px;
    text-transform: uppercase;
}

.inv{
    color: transparent;
}

.icn-del{
    font-size: 30px;
    cursor: pointer;
}

.icn-down{
    font-size: 30px;
    margin-right: 20px;
    margin-top: 6px;
    cursor: pointer;
}

.content-icons{
    border-top: 2px solid white;
    margin-top: 40px;
}

.in-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: white;
}

.in-modal input {
    height: 25px;
    width: 250px;
}

.content-check{
    display: flex;
}


.content-check h3{
    margin-left: -100px;
    margin-top: 4px;
}

.content-checks{
    display: flex;
}

.content-inp{
    display: flex;
}

.content-inp.visibilyOff{
    display: none;
}

.content-inp.visibilyOn{
    display: block;
}

.title-inp.visibilyOff{
    display: none;
}

.title-inp.visibilyOn{
    display: block;
}

.content-inp p{
    margin-top:5px;
    font-size: 20px;
    margin-right: 10px;
}

.icn-modal{
    margin-top:5px;
    font-size: 20px;
    margin-right: 5px;
}

#fiad-one{
    width: 700px;
    margin-right: -20px;
}

@media screen and (max-width: 400px){
    .fiad.red{
        width: 280px;
    }

    .fiad.green{
        width: 280px;
    }

    .content-fiads{
        max-width: 300px;
    }

    .in-modal h2{
        font-size:20px
    }

    .content-check h3{
        margin-left: -90px;
        margin-top: 4px;
    }

    .content-checks{
        display: flex;
        flex-direction: column;
        margin-left: -90px;
    }

}